<div id="navbar">
    <ul>
        <li class="mlink" id="logo"><img id="welcome" src="../../assets/shop.png" alt="Give Alternate Path" class="rounded" ></li>
        <li></li>
        <li class="mlink" id="Profile"><img src="../../assets/user.png" alt="Give Alternate Path" class="rounded" ></li>
    </ul>
</div>
<br>
<div id = "optionBar">
<button routerLink = "productLog" class="optBtn mlink"><span class="btnImg"><img src="../../assets/view.png" alt=""></span>View Log</button>
<button routerLink = "products" class="optBtn mlink"><span class="btnImg"><img src="../../assets/products.png" alt=""></span>Products</button>
<!--<button routerLink = "newProduct" class="optBtn mlink"> <span><img src="../../assets/add.png" alt=""></span> Add New Product</button>-->
<button routerLink = "getPrediction" class="optBtn mlink"><span class="btnImg"><img src="../../assets/predict.png" alt=""></span>Get Prediction</button>
</div>
<br>
<router-outlet></router-outlet>